* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 15px 4px 10px;
}

.dflex{
  display: flex;
  align-items: center;
}

.item{
  padding: 10px 10px;
}
.item:hover{
  border: 1px solid #fff;
  border-radius: 2px;
  margin: -1px;
}

.logo{
  text-align: center;
  margin: 1px;
  margin-bottom:-5px; 
  padding: 6px 8px 0 0;
  height: 42px;
}

a{
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

a:hover{
  border: 1px solid #fff;
  margin: -1px;
  border-radius:3px; 
}

a span{
  font-size: 14px;
  margin-left:-10px;

}

p{
  font-size: 12px;
  line-height: 15;
}

.item i{
  margin: 0 5px;
}